* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* COLORS BASE */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    /* FONTS */
    /* TITLE - ASAP */
  --title-lg: 700 56px/120% 'Asap', sans-serif;
  --title-md: 700 24px/120% 'Asap', sans-serif;
  --title-sm: 700 16px/120% 'Asap', sans-serif;

  /* SUBTITLE - INCONSOLATA */
  --subtitle: 400 20px/120% 'Inconsolata', monospace;

  /* TEXT - MAVEN PRO */
  --text-md: 400 16px/140% 'Maven Pro', sans-serif;
  --text-sm: 400 14px/140% 'Maven Pro', sans-serif;
}

.hero {
  background-image: url('./images/Background_Intro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;

  padding: 120px 163px 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .container {
    padding: 0 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img:nth-child(0) {
      width: 112px;
      height: 112px;
    }

    & .title {
      margin-top: 56px;

      & p:nth-child(1) {
        color: var(--gray-200);

        font: var(--subtitle);

        text-align: center;

          & span {
            color: var(--red);
          }
      }

      & h1 {
        color: var(--gray-100);

        font: var(--title-lg);

        text-align: center;

        margin-top: 8px;
      }

      & p:nth-child(3) {
        color: var(--gray-300);

        font: var(--text-sm);

        text-align: center;

        margin-top: 20px;
      }
    }

    & .stacks {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      margin-top: 80px;

      & .stack {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        background-color: var(--gray-400);

        padding: 8px 16px;

        border-radius: 999px;

        & img {
          width: 24px;
          height: 24px;
        }

        & p {
          color: var(--gray-200);

          font: var(--text-md);
        }
      }
    }

    & .arrow {
      margin-top: 94px;
      
      & img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.works {
  padding: 72px 120px 144px;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;

  background-color: var(--gray-500);

  & .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & p {
      color: var(--red);

      font: var(--subtitle);

      text-align: center;
    }

    & h2 {
      color: var(--gray-100);

      font: var(--title-md);

      text-align: center;
    }
  }

  & .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;


    width: 100%;

    & .project {
      width: 320px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      padding: 12px 12px 17px;

      border-radius: 12px;

      background-color: var(--gray-400);

      & img {
        width: 100%;
        height: 156px;

        border-radius: 8px;
      }

      & .description {
        display: flex;
        flex-direction: column;
        gap: 8px;

        padding: 4px;

        & h3 {
          color: var(--gray-100);

          font: var(--title-sm);
        }

        & p {
          color: var(--gray-200);

          font: var(--text-sm);
        }
      }
    }

    & .project:hover {
      border: 1.5px solid var(--gray-300);
    }
  }
}

.services {
  background-color: var(--gray-600);

  padding: 88px 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;

  & .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & p {
      color: var(--red);

      font: var(--subtitle);

      text-align: center;
    }

    & h2 {
      color: var(--gray-100);

      font: var(--title-md);
    }
  }

  & .all-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    & .service {
      width: 280px;

      border: 2px solid var(--gray-500);

      display: flex;
      flex-direction: column;
      gap: 20px;

      padding: 20px;

      border-radius: 12px;

      & img {
        width: 48px;
        height: 48px;
      }

      & .description {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & h3 {
          color: var(--gray-100);

          font: var(--title-sm);
        }

        & p {
          color: var(--gray-200);

          font: var(--text-sm);
        }
      }
    }
  }
}

footer {
  background-image: url('./images/Background_Contacts.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 128px 120px 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  & .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & p {
      color: var(--purple);

      font: var(--subtitle);

      text-align: center;
    }

    & h2 {
      color: var(--gray-100);

      font: var(--title-md);

      text-align: center;
    }

    & p:nth-child(3) {
      color: var(--gray-200);

      font: var(--text-md);
    }
  }

  & .socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    & a {


      & .social {
        width: 400px;

        background-color: var(--gray-400);
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;

        border-radius: 8px;

        & .left {
          display: flex;
          align-items: center;
          gap: 12px;

          & img {
            width: 28px;
            height: 28px;
          }

          & p {
            color: var(--gray-200);

            font: var(--text-md);
          }
        }

        & img {
          width: 20px;
          height: 20px;
        }
      }

      & .social:hover {
        border: 1.5px solid var(--blue);
      }
    }

  }
}